@font-face {
    font-family: "iconfont"; /* Project id 4179797 */
    src: url('//at.alicdn.com/t/c/font_4179797_nal926u2pge.woff2?t=1690272774338') format('woff2'),
    url('//at.alicdn.com/t/c/font_4179797_nal926u2pge.woff?t=1690272774338') format('woff'),
    url('//at.alicdn.com/t/c/font_4179797_nal926u2pge.ttf?t=1690272774338') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-zhihu:before {
    content: "\e69a";
}

.icon-wangyiyunyinle:before {
    content: "\e600";
}