.iconfont {
    font-size: 24px;
}

.card-widget, .recent-post-item, #archive, #page, #post {
    backdrop-filter: blur(20px);
}

@font-face {
    font-family: AlibabaPuHuiTi-3-55-Regular;
    src: url(https://puhuiti.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-55-Regular/AlibabaPuHuiTi-3-55-Regular.eot) format('embedded-opentype'),
    url(https://puhuiti.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-55-Regular/AlibabaPuHuiTi-3-55-Regular.otf) format('opentype'),
    url(https://puhuiti.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-55-Regular/AlibabaPuHuiTi-3-55-Regular.ttf) format('TrueType'),
    url(https://puhuiti.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-55-Regular/AlibabaPuHuiTi-3-55-Regular.woff) format('woff'),
    url(https://puhuiti.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-55-Regular/AlibabaPuHuiTi-3-55-Regular.woff2) format('woff2');
}

@font-face {
    font-family: "得意黑 斜体";
    font-weight: normal;
    src: url("../fonts/SmileySans-Oblique.ttf.woff2") format("woff2");
    font-display: swap;
}

#card-info-btn {
    border-radius: 15px;
    transition: ease-in-out 0.3s;
    box-shadow: 0 12px 12px -9px rgba(0,0,0,0.29);
}

#card-info-btn:hover {
    box-shadow: 0 12px 12px -9px rgba(39, 196, 134, 0.29);
}

.sidebar-item {
    border-radius: 5px;
    transition: ease-in-out 0.3s;
}

.sidebar-item:hover {
    background-color: hsla(0,0%,50%,.15);
}

body {
    cursor: url("../img/cursor/arrow.gif"), default!important;
}

a, i, button, img, span {
    cursor: url("../img/cursor/link.gif"), pointer!important;
}

textarea {
    cursor: url("../img/cursor/beam.gif"), text;
}