/* 字体 */

@font-face {
    font-family: "SmileySans";
    font-weight: normal;
    src: url("../fonts/SmileySans-Oblique.ttf.woff2") format("woff2");
    font-display: swap;
}

.title {
    font-family: "SmileySans";
}

/* 美化，模糊 

.card-widget, .recent-post-item, #archive, #page, #post {
    backdrop-filter: blur(20px) !important;
}

*/

#nav {
    backdrop-filter: blur(5px);
}

#article-container img {
    display: inline-block;
  }